---
import PageLayout from "../layouts/PageLayout.astro";
import Config from "../sarissa.config.cjs";
---

<PageLayout pageTitle={Config.menu?.about ?? "About"}>
  <article class="prose max-w-none">
    <p>
      Hello! This is Stephen Zhang, I am a student at Montgomery Blair High
      School class of 2025. Welcome to my blog!
    </p>
  </article>
</PageLayout>
